In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [3]:
pd.Timestamp(2019, 12, 20, 0, 0)

Timestamp('2019-12-20 00:00:00')

In [4]:
pd.Timestamp(2019, 12, 20, 0, 0).isoweekday()

5

In [5]:
pd.Timestamp(2019, 12, 20, 5, 2,23).second

23

In [6]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [7]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [8]:
pd.Period('1/2016') + 5

Period('2016-06', 'M')

In [9]:
pd.Period('3/5/2016') - 2

Period('2016-03-03', 'D')

In [10]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), 
                             pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [11]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [12]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), 
                             pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [13]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

In [14]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, 
                   columns=list('ab'))
ts3

               a   b
2 June 2013   88  26
Aug 29, 2014  18  31
2015-06-26    69  92
7/12/16       67  20

In [15]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  88  26
2014-08-29  18  31
2015-06-26  69  92
2016-07-12  67  20

In [16]:
pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

In [17]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [18]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

In [19]:
pd.Timestamp('9/4/2016').weekday()

6

In [20]:
pd.Timestamp('9/4/2016') + pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [21]:
pd.Timestamp('9/4/2016') + pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

In [22]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [23]:
pd.date_range('10-01-2016', periods=9, freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [24]:
pd.date_range('04-01-2016', periods=12, freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [25]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02      103      126
2016-10-16      111      128
2016-10-30      113      129
2016-11-13      122      126
2016-11-27      124      126
2016-12-11      124      127
2016-12-25      128      117
2017-01-08      134      115
2017-01-22      135      128

In [27]:
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16      8.0      2.0
2016-10-30      2.0      1.0
2016-11-13      9.0     -3.0
2016-11-27      2.0      0.0
2016-12-11      0.0      1.0
2016-12-25      4.0    -10.0
2017-01-08      6.0     -2.0
2017-01-22      1.0     13.0

In [28]:
df.resample('M').mean()

            Count 1     Count 2
2016-10-31    109.0  127.666667
2016-11-30    123.0  126.000000
2016-12-31    126.0  122.000000
2017-01-31    134.5  121.500000

In [29]:
df['2017']

C:\Users\Yarik\AppData\Local\Temp/ipykernel_7572/1797912031.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2017']

            Count 1  Count 2
2017-01-08      134      115
2017-01-22      135      128

In [30]:
df['2016-12']

C:\Users\Yarik\AppData\Local\Temp/ipykernel_7572/2391205231.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2016-12']

            Count 1  Count 2
2016-12-11      124      127
2016-12-25      128      117

In [31]:
df['2016-12':]

            Count 1  Count 2
2016-12-11      124      127
2016-12-25      128      117
2017-01-08      134      115
2017-01-22      135      128

In [32]:
df['2016']

C:\Users\Yarik\AppData\Local\Temp/ipykernel_7572/1903466119.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2016']

            Count 1  Count 2
2016-10-02      103      126
2016-10-16      111      128
2016-10-30      113      129
2016-11-13      122      126
2016-11-27      124      126
2016-12-11      124      127
2016-12-25      128      117