In [1]:
import pandas as pd

In [2]:
names = ["Emma", "Andy", "Jack"]
pd.Series(names)

0    Emma
1    Andy
2    Jack
dtype: object

In [3]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [4]:
pd.Series([1, 2, None])

0    1.0
1    2.0
2    NaN
dtype: float64

In [5]:
import numpy as np

In [6]:
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
data = {'Jack': 'Officer',
        'Emma': 'Teacher',
        'George': 'Artist'}
s = pd.Series(data)
s

Jack      Officer
Emma      Teacher
George     Artist
dtype: object

In [10]:
s.index

Index(['Jack', 'Emma', 'George'], dtype='object')

In [11]:
data = [("Jack","Officer"), ("Emma","Teacher"), ("George","Artist")]

pd.Series(data)

0     (Jack, Officer)
1     (Emma, Teacher)
2    (George, Artist)
dtype: object

In [12]:
pd.Series(["Officer", "Teacher", "Artist"], index=["Jack", "Emma", "George"])

Jack      Officer
Emma      Teacher
George     Artist
dtype: object

In [13]:
data = {'Jack': 'Officer',
        'Emma': 'Teacher',
        'George': 'Artist'}

pd.Series(data, index=['Jack', 'Emma', 'Bob'])

Jack    Officer
Emma    Teacher
Bob         NaN
dtype: object